@import url(https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap);

body {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: navy;
}

form{
    background-color: beige;
    padding: 100px;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

input, select {
    border: none;
    border-bottom: 3px solid rgb(138, 106, 71);
    background-color: transparent;
    width: 100%;
    padding: 1em;
}

button {
    background-color: navy;
    color: white;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 4px;
}

label{
    display: block;
}
